@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background: url(https://en.tutsps.com/images/create-a-custom-ios-11-style-blur-background-in-photoshop/create-a-custom-ios-11-style-blur-background-in-photoshop-012.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding: 0px 50px;
    background-color: rgba(255, 255, 255, 0.85);
    border: none !important;
}

.navbar-brand {
    font-family: Lobster;
    font-size: 24px !important;
    color: white !important;
}

.jumbotron {
    background-color: rgba(255,255,255,0.2) !important;
    border-radius:10px !important;
}
.jumbo-head{
    font-size: 42px; 
    margin: -10px 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid rgba(64,64,64,0.2);  
}
.portfolio-pic, #about-me-pic {
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(0,0,0,0.2) !important;
    border: none !important;
}

.portfolio-image {
    position:relative;
    
    text-align: center;
}
.portfolio-image h3{
    position: absolute;
    height: 35px;
    left: 6%;
    right: 6%;
    top: 50%;
    background-color: rgba(0,0,0,0.75);
    color: white;
    text-align: center;
}
.copyright-footer-bottom {
    border-top: 1.5px solid #bdbdbd;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 10px;
    
}



@media screen and (max-width: 768px) {
    
    #bio {
        padding: 0 20px;
    }
    .portfolio-image h3 {

    }
    
}
